@import url("css-1.css"); 

* {font-family: 'Open Sans', sans-serif; margin:0; padding:0;}

html {
  position: relative;
  min-height: 100%;
}

/*assebslity  css*/


.js div#preloader { position: fixed; left: 0; top: 0; z-index: 999999; width: 100%; height: 100%; overflow: visible; background: #ffffff url("") no-repeat center center; }
header .accessbilityLinkItem {display:none;}
.main-image-section img.img-responsive {
	margin: -20px auto 0 auto;
}
html {font-size:112.5%; -webkit-font-smoothing: antialiased; -webkit-text-decoration-skip:ink; text-decoration-skip:ink; text-decoration-skip-ink:auto;;}
body {font-size:100%; line-height:1.57; font-weight:400; min-width:320px; background:#fff; color:#1b1303}

html[data-acc-size="2"] {font-size:130%}
html[data-acc-size="3"] {font-size:160%}

html[data-acc-font="serif"] body {font-family:serif}

html[data-acc-color="2"] body {background:#000; color:#fff}
html[data-acc-color="3"] body {color:#a9e44d; background:#3b2716}
html[data-acc-color="4"] body {color:#063462; background:#9dd1ff}

html[data-acc-spacing="2"] {letter-spacing:.1em}
html[data-acc-spacing="3"] {letter-spacing:.2em}

img {max-width:100%}

html[data-acc-imagetype="1"] .image {filter:grayscale(1)}
html[data-acc-imagetype="-1"] .imageBlock,
html[data-acc-imagetype="-1"] .image {display:none!important}
html[data-acc-imagecontrast="1"] .image {filter:contrast(1.5)}
html[data-acc-imagetype="1"][data-acc-imagecontrast="1"] .image {filter:contrast(1.5) grayscale(1)}

html[data-acc-imagetype="1"] img {filter:grayscale(1)}
html[data-acc-imagetype="-1"] img {display:none!important}
html[data-acc-imagetype="-1"] .logo img {display:block!important}
html[data-acc-imagecontrast="1"] img {filter:contrast(1.5)}
html[data-acc-imagetype="1"][data-acc-imagecontrast="1"] img {filter:contrast(1.5) grayscale(1)}

a {color:inherit; text-decoration:underline}
a:hover {color:inherit; text-decoration:underline!important}

a[href^="tel:"] {white-space:nowrap}

h1 {font-weight:bold; font-size:2.4rem; line-height:1.25 ; margin:0 0 .5em;}
h2 {font-weight:bold; font-size:2rem; line-height:1.6666 ; margin:1em 0 1em;}
h3 {font-weight:bold; font-size:1.6rem; line-height:1.6666 ; margin:0.5em 0 0.5em;}
.h4, h4 {font-size: 1.8em;font-weight: 600;margin: 0.5em 0 0.5em;}
p {margin:0.5em 0}

li {margin:0.5em 0}

.row {display:flex; flex-wrap:wrap}

#page {min-width:320px; max-width:1170px; padding:15px; margin:0 auto; position:relative; display:block; z-index:1}

.linkBlock .link-accessability:before {content:'î£´'; font:normal 20px/1 'Material Icons'; display:inline-block; vertical-align:middle; margin:0 10px 0 0}

.faceTuneBlock {padding:10px 15px 0; background:#dcdce0; color:#1b1303; transition:all 0.5s ease; z-index:2; font:normal 16px Arial, Roboto, sans-serif; letter-spacing:normal; display:block!important; overflow:hidden}
.faceTuneBlock a {color:#1b1303; text-decoration:none}
.faceTuneBlock>.blockWrapper {max-width:1170px; margin:0 auto}
.faceTuneBlock .linkBlock {float:left; margin:0 30px 0 0; line-height:40px}
.faceTuneBlock .linkBlock .link-accessability {display:inline-block; vertical-align:middle; line-height:1.4}
.faceTuneBlock .linkBlock .link-accessability:before {content:''}
.faceTuneBlock .settingsBlock {font-size:0; margin:0 -30px 10px 0}
.faceTuneBlock .settingsBlock:last-child {margin-bottom:0}
.faceTuneBlock .settingsBlock .groupBlock {display:inline-block; vertical-align:middle; margin:0 30px 0 0; font-size:16px}
.faceTuneBlock .settingsBlock .blockTitle {display:inline-block; vertical-align:middle; font-weight:normal; margin:0; line-height:40px}
.faceTuneBlock .settingsBlock .variantListBlock {display:inline-block; vertical-align:middle; font-size:16px; }
.faceTuneBlock .settingsBlock .variantList {margin:0; padding:0; list-style:none; font-size:0; }
.faceTuneBlock .settingsBlock .variantList .item {color:#1b1303; display:inline-block; vertical-align:middle; margin:0 0 0 2px; font-weight:bold; background:#ddd; font-size:16px}
.faceTuneBlock .settingsBlock .variantList .item a {display:block; padding:5px 10px; color:inherit}
.faceTuneBlock .settingsBlock .variantList .item-active a {background:#fff}
html[data-color="2"] .faceTuneBlock .settingsBlock .variantList .item-active {color:#fff; background:#000}
html[data-color="3"] .faceTuneBlock .settingsBlock .variantList .item-active {color:#a9e44d; background:#3b2716}
html[data-color="4"] .faceTuneBlock .settingsBlock .variantList .item-active {color:#3b2716; background:#9dd1ff}
.faceTuneBlock .settingsBlock .groupBlock[data-type='size'] .item a {font-size:0}
.faceTuneBlock .settingsBlock .groupBlock[data-type='size'] .item a:before {content:'A'; display:block; line-height:30px}
.faceTuneBlock .settingsBlock .groupBlock[data-type='size'] a[data-value="1"]:before {font-size:18px}
.faceTuneBlock .settingsBlock .groupBlock[data-type='size'] a[data-value="2"]:before {font-size:24px}
.faceTuneBlock .settingsBlock .groupBlock[data-type='size'] a[data-value="3"]:before {font-size:30px}
.faceTuneBlock .settingsBlock .groupBlock[data-type='spacing'] a[data-value="1"] {letter-spacing:normal}
.faceTuneBlock .settingsBlock .groupBlock[data-type='spacing'] a[data-value="2"] {letter-spacing:.15em}
.faceTuneBlock .settingsBlock .groupBlock[data-type='spacing'] a[data-value="3"] {letter-spacing:.3em}
.faceTuneBlock .settingsBlock .groupBlock[data-type='font'] .item a {font-size:0}
.faceTuneBlock .settingsBlock .groupBlock[data-type='font'] .item a:before {content:'A'; font-size:24px; display:block; line-height:30px}
.faceTuneBlock .settingsBlock .groupBlock[data-type='font'] a[data-value="serif"] {font-family:serif}
.faceTuneBlock .settingsBlock .groupBlock[data-type='color'] .item a {font-size:0}
.faceTuneBlock .settingsBlock .groupBlock[data-type='color'] .item a:before {content:'A'; font-size:24px; display:block; line-height:30px}
.faceTuneBlock .settingsBlock .groupBlock[data-type='color'] a[data-value="1"] {color:#000; background:#fff}
.faceTuneBlock .settingsBlock .groupBlock[data-type='color'] a[data-value="2"] {color:#fff; background:#000}
.faceTuneBlock .settingsBlock .groupBlock[data-type='color'] a[data-value="3"] {color:#a9e44d; background:#3b2716}
.faceTuneBlock .settingsBlock .groupBlock[data-type='color'] a[data-value="4"] {color:#063462; background:#9dd1ff}
.faceTuneBlock .settingsBlock .groupBlock[data-type='image'] .item a {font-size:0}
.faceTuneBlock .settingsBlock .groupBlock[data-type='image'] .item a:before {content:''; display:block; font:normal 25px/30px 'Material Icons'; padding:0 2px}
.faceTuneBlock .settingsBlock .groupBlock[data-type='image'] .item a[data-key="acc-imagetype"][data-value="0"]:before {background:cyan; color:green}
.faceTuneBlock .settingsBlock .groupBlock[data-type='image'] .item a[data-key="acc-imagetype"][data-value="1"]:before {color:#666}
.faceTuneBlock .settingsBlock .groupBlock[data-type='image'] .item a[data-key="acc-imagetype"][data-value="-1"]:before {content:''}
.faceTuneBlock .settingsBlock .groupBlock[data-type='image'] .item a[data-key="acc-imagecontrast"][data-value="0"]:before {background:#666; color:#aaa}
.faceTuneBlock .settingsBlock .groupBlock[data-type='image'] .item a[data-key="acc-imagecontrast"][data-value="1"]:before {background:#333; color:#ddd}


iframe, video,
.imageBlock .image {max-width:100%}


nav.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav.main-menu ul > li {
  margin: 0;
  float: left;
  position: relative;
}
nav.main-menu ul > li > a {
  width: 100%;
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  text-align: left;
}
nav.main-menu ul > li ul {
  z-index: 9999;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 36px;
  left: 0;
  display: none;
}
nav.main-menu ul > li ul li {
  list-style: none;
  float: none;
  position: relative;
}
nav.main-menu ul > li ul li a {
  font-size: 14px;
  padding: 10px 20px;
}
nav.main-menu ul > li ul li:hover a {

}
nav.main-menu ul > li ul li ul {
  position: absolute;
  left: 190px;
  top: 0;
}
nav.main-menu ul > li:hover > a,
nav.main-menu ul > .current-menu-item > a {
	text-decoration:underline
}

.main-slider,
#overlay {display:none;}
.service-prices-panel .price-title {
	font-size:2em;
	font-weight: bold;
}
.prices-list .price {
	font-weight: bold;
}
.doctors-title {
	font-size:2em;
	font-weight: bold;
}
ul {
	list-style-position: inside;
}
.main-nav,
.navbar-nav {
	width:100%;
}
header .navbar-nav,
header .navbar-nav.navbar-right>li {
	float:none !important;
}

.form-control,
.btn {
	height:auto;
	font-size:1.4rem;
}
.header-middle-info ul,
.footer-top-info ul,
.contacts-info ul {
	margin-left:-20px;
}
.header-middle-info ul li,
.footer-top-info ul li,
.contacts-info ul li {
	padding-left:20px;
	display:inline-block;
	vertical-align:top;
	margin-top:0;
}

.about-slider {
	display:none;
}
.contacts-info ul li.phone > .number:first-child {
	margin-top:10px;
	display:block;
}
.contacts-info ul li.phone br {
	display:none;
}

header .menu.hidden-xs.cloned {
	display:none !important;
}

.services-news .row > div {
	float:none;
	width:100%;
}

.popular-services .aligned-row > li {
	height:auto !important;
	display:flex;
	flex-wrap:wrap;
	align-items:center;
}
.popular-services .aligned-row .liImgBlock {
	padding-right:10px;
}

.latest-news-slider-prev,
.latest-news-slider-next,
.doc-prev,.doc-next,
.health-prev,.health-next {
	display:none;
}
.latest-news-slider .news-item {
	display:block;
	margin-bottom:1.5em;
	border-bottom: 1px solid #e7e7e7;
}

.latest-news-slider .news-item .read-more,
.news-item .news-img-wrapper {
	display:none;
}
.latest-news-slider .news-item > div {
	width:auto;
	float: none
}
.latest-news-slider ul {
	margin:0;
}
.latest-news-slider .news-item > .news-details {
	width:100%;
}

.newsBlock .news-item .caption {
	display: none;
}
.newsBlock .news-item {
	margin-bottom:30px;
	padding-bottom:30px;
	border-bottom: 1px solid #e7e7e7;
}
.newsBlock .news-item .title {
	font-size:1.6em;
	font-weight: bold;
}

.newsBlock .news-item .description p {
	text-decoration: none;
}

.service-doctors-panel .read-more-doctor a {
	padding: 0;
}
.doctors-slider {
	display:block;
}
.doctor-item {
	width:100%;
	padding-left:235px;
	box-sizing:border-box;
	    height: auto !important;
}
.doctor-item::after {content:'';display:table;clear:both;}
.doctor-item .doctor-img {
    float: left;
    margin-left: -235px;
}

.services-section .services-wrapper > .item-wrapper {
	width:100%;
}
.services-section .services-wrapper .service-item {
	padding-left:120px;
	box-sizing:border-box;
}
.services-section .services-wrapper .service-item::after {
	content:'';
	clear:both;
	display:table;
}
.services-section .services-wrapper .service-item .service-img {
	float:left;
	margin-left:-120px;
}
.services-find-section .row > div {width:100%;}
.services-find-section .select2-container--default .select2-selection--single .select2-selection__rendered {line-height:1.5 !important;font-size:1.6em;}
.services-find-section .select2-container .select2-selection--single {height:auto;}
.services-find-section .select2-container--default .select2-selection--single .select2-selection__arrow {height: 100% !important;width: 50px !important;}
.services-find-section .select2-container--default .select2-selection--single .select2-selection__arrow b {margin-left: -14px !important; margin-top: -5.5px !important; border-width: 10px 7px 0 7px !important;}
.services-find-section .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {border-width: 10px 7px 0 7px !important;}

.service-details-section .row > div {width:100%;float:none;}


.health-wrapper > .row {
	margin:0;
}
.health-slider .img-responsive {
	display:none;
}
.health-slider .health-item {
	padding-bottom:10px;
	border-bottom: 1px solid #e7e7e7;
	margin-bottom:1em;
}
.about-wrapper-inner > div {
	width:100%;
	left:0;
	float:none;
}
.about-photos {
	display:none;
}
.about .response-item .response-title {
	font-weight:bold;
	padding-right:20px;
}
.about .response-item .response-person {
	font-weight:bold;
	margin-bottom:10px;
}
.more-span {
	font-weight:bold;
	font-size:1.4em;
}
.about .response-item .response-text {
	margin-bottom:30px;
}

@media (max-width: 992px) {
	.about .col-md-6 {
		width:100%;
	}
	.about-slider {
		display:none;
	}
}
.about-section .about-slider {
	display:none;
}
.about-section .col-md-6 {
	width:100%;
}

/*Программы*/
.about-section .health-item .img-responsive {
	display:none;
}
.about-section .item-wrapper {
	width:100%;
}
.about-section .health-item {
	padding-bottom:10px;
	border-bottom: 1px solid #e7e7e7;
	margin-bottom:1em;
}
.about-section .health-item-title {
	display:inline-block;
}
/*-----*/

.header-middle-wrapper .accessbilityLinkBlock {
	display:none;
}
@media (max-width:992px) {
	.header-middle-wrapper	.col-md-9 {
		float:none !important;
	}
}
header .top-nav-wrapper.hidden-xs {
	display:block !important;
}
header .navbar-nav>li {
	float: left;
}
.doctors.doctors-section .doctors-wrapper .item-wrapper {
	width:100%;
	float:none;
}

.doctors.doctors-section .doctors-wrapper .read-more-doctor .btn {
	padding: 0;
	outline: none;
}
.doctors .doctors-wrapper .btn.appointment-modal-show-doc {
	padding: 0;
	outline: none;
}
.doctor-find-form {
	width:100%;
}
.doctors-find-section .container > .row > .col-sm-12 {
	width:100% !important;
}
.doctor-find-form .select2-container {
	width:100% !important;
}
@media (max-width:690px) {
	.doctor-item .doctor-img {
		float:none;
		margin: 0;
	}
	.doctor-item {
		padding-left: 0;
	}
}
.social a {text-decoration:none;}
.breadcrumbs {background:none;}
.breadcrumbs > .active {color:inherit}
.breadcrumbs > li {display:inline-block;vertical-align:top;}

.text-info {font-size:1.2em; padding:.5em 1em; border:1px #f5f5f5 solid; background:none; color:inherit}

.bg-info {background:none}
footer {
	padding-top:30px;
}
footer a {color:inherit!important}
footer .col-sm-4 {width:50%;}
footer .col-sm-4:first-child {float:none; width:auto;}

footer .footer-bottom {margin-top:2em; border-top:1px #f5f5f5 solid; padding:1em 0 0}

#isotope-container {height:auto!important}
#isotope-container>div {position:static!important; margin:0!important; }

.footer-bottom .footer-social-nav {display:none}

.mean-container .mean-bar {min-height:40px}
.mean-container .mean-bar a.meanmenu-reveal {background:none; border-left:1px #f5f5f5 solid; top:0}
.mean-container .mean-bar {background:none; border:1px #f5f5f5 solid; }
.mean-container .mean-bar .mean-nav {background:none}
.mean-container .mean-nav ul li {margin:0; border:0; border-top:1px #f5f5f5 solid; }
.mean-container .mean-bar .mean-nav ul li a {color:inherit; font-size:inherit; border:0; font-weight:bold}


.star .ratingBlock input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
}
.star .ratingBlock input[type="radio"] + .caption {
  display: inline-block;
  font-size: 0;
}

.services-section .all-services-block  .block-header {
	font-size: 1.4em;
	font-weight:600;
}

header .menu.original.hidden-xs, header .menu.original.hidden-xs .collapse {display: block !important;}
@media (max-width:768px) {
    .menu.original.hidden-xs .collapse .navbar-nav.navbar-right {
        margin-left: 0;
        margin-right: -30px;
    }
}

.about .response-item .row {
	display: block;
}

@media (max-width:600px) {
	.about .response-item .response-title {
		display: block;
	}
}

.add-response .btn {
	padding: 0;
}
.star .ratingBlock .caption:before {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f005";
  border: 0;
  box-shadow: none;
  border-radius: 0;
  transition: all 0.3s ease;
  display: inline-block;
  font-size:30px;
  color: #00acc4;
}
.star .ratingBlock input:checked + .caption ~ .caption:before {
  content: "\f006";
  color: #585053;
}
