/*==========  Non-Mobile First Method  ==========*/

@media only screen and (min-width : 993px) {
    .first-news .news-category {
        margin-bottom: 0;
    }
}

@media (min-width: 481px) and (max-width: 520px) {
    .doctor-item .doctor-title {
        min-height: 60px;
    }

    .doctor-item .read-more-doctor a {
        padding: 15px 30px;
    }
}

@media only screen and (min-width : 1200px) {
    .no-img .news-item-new .upper-border {
        padding-bottom: 50px;
    }

    .upper .news-item-new .upper-border {
        border-bottom: 1px solid #d2d2d2;
        margin-bottom: 50px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

    .header-middle-info ul li:first-of-type, .header-middle-info ul li:nth-of-type(2) {
        margin-right: 35px;
    }

    .footer-top-info ul li:first-of-type, .footer-top-info ul li:nth-of-type(2) {
        margin-right: 35px;
    }

    .footer-nav .navbar-nav > li > a {
        font-size: 14px;
        padding: 30px 15px 29px;
    }

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 1025px) {

    .header-middle-info ul li:first-of-type, .header-middle-info ul li:nth-of-type(2) {
        margin-right: 35px;
    }

    .footer-top-info ul li:first-of-type, .footer-top-info ul li:nth-of-type(2) {
        margin-right: 35px;
    }

    .footer-nav .navbar-nav > li > a {
        font-size: 14px;
        padding: 30px 15px 29px;
    }

    .popular-services ul li a {
        font-size: 14px;
        padding-left: 20px;
    }

    .news-item .news-item-title {
        margin: 20px 0 15px;
        font-size: 16px;
    }

    .latest-news ul .news-item {
        margin-bottom: 10px;
    }

    .doctor-facts-section .fact-item .fact-item-text p {
        padding: 0 40px;
    }

    .gallery-slider-next {
        top: 35%;
    }

    .gallery-slider-prev {
        top: 35%;
    }

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

    .header-middle-info ul li:first-of-type, .header-middle-info ul li:nth-of-type(2) {
        margin-right: 25px;
    }

    .footer-top-info ul li:first-of-type, .footer-top-info ul li:nth-of-type(2) {
        margin-right: 25px;
    }

    .header-middle-info ul li {
        margin: 25px 20px;
    }
    .footer-top-info ul li {
        margin: 25px 15px;
    }

    .navbar-default .navbar-nav > li > a {
        font-size: 14px;
        padding: 20px 17px;
    }

    .footer-nav .navbar-nav > li > a {

        font-size: 12px;
        padding: 40px 8px 39px;
    }

    body {

      margin-bottom: 460px;

    }
    .footer {

        height: 460px;

    }

    .health {
        margin-bottom: 560px;
    }

    .about-wrapper-inner {
        margin-bottom: 30px;
    }

    .about-wrapper-inner img {
        margin: 0 auto;
    }

    .no-img .news-title {
        margin: 20px 0 10px;
    }

    .news-item-new .news-title {
        margin: 20px 0 10px;
    }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

    .services-news {
        border-top: 1px solid #d2d2d2;
        margin-top: 20px !important;
        padding-top: 20px !important;
    }

    .logo {
        margin: 12px 0;
    }

    .overlay nav {
        font-size: 14px !important;
        top: 38% !important;
    }

    .horiz-fix-item-wrapper {
        width: 50%;
        float: left;
    }

    .horiz-fix-item-wrapper-3 {
        width: 33%;
        float: left;
    }

    .news-big {
        padding-bottom: 0;
        border-bottom: none;
        margin-bottom: 0;
    }

    .news-big .news-title {
        font-size: 18px !important;
        margin: 20px 0 30px;
    }

    .news-small-top {
        padding-bottom: 40px;
        border-bottom: none;
        margin-bottom: 0px;
    }

    .news-small .news-title {
        margin: 20px 0 30px;
    }

    .about-section {
        padding: 40px 0 40px;
    }

    .tablet-width {width: 100%;float: left !important;}
    .header-middle-info, .footer-top-info {
        float: left;
        width: 100%;
        left: -15px;
        position: relative;
    }

    .header-middle-info ul li:first-of-type, .header-middle-info ul li:nth-of-type(2) {
        margin-right: 30px;
    }
    .footer-top-info ul li:first-of-type, .footer-top-info ul li:nth-of-type(2) {
        margin-right: 25px;
    }
    .header-middle-info ul li {
        margin: 10px 20px;
    }
    .footer-top-info ul li {
        margin: 10px 15px;
    }

    .navbar-default .navbar-nav > li > a {
        font-size: 14px;
        padding: 20px 17px;
    }


    .popular-services ul li {
        width: 50%;
    }

    .health-prev {
        display: none !important;
    }
    .health-next {
        display: none !important;
    }

    .place-wrapper {margin-top: 60px}

    .footer-nav .navbar-nav > li > a {

        font-size: 12px;
        padding: 40px 8px 39px;
    }

    .contacts .about-panel {margin-top: 30px}

    .doctor-facts-section .fact-item .fact-item-text p {
        padding: 0 10px;
    }

    body {

      margin-bottom: 460px;

    }
    .footer {

        height: 460px;

    }

    .health {
        margin-bottom: 560px;
    }

    .gallery-slider-next {
        display: none !important;
    }

    .gallery-slider-prev {
        display: none !important;
    }

    .other .main-section {
        border-top: 1px solid #d2d2d2;
    }

}

@media only screen and (max-width : 630px) {
    .getProgram {
        position: relative;
        top: 0;
        left: 0;
        float: left;
        height: 50px;
        width: 100%;
    }
    .program-item .about-title {
        margin: 0;
        padding-bottom: 30px;
    }
    .program-item-title-wrapper {
        min-height: 160px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

    .service-prices-panel .prices-list ul li {
        font-size: 12px;
    }

    body {

      margin-bottom: 540px;

    }
    .footer {

        height: 540px;

    }

    .health {
        margin-bottom: 600px;
    }

    .horiz-fix-item-wrapper {
        width: 100%;
    }

    .horiz-fix-item-wrapper-3 {
        width: 100%;
    }

    .overlay nav {
        font-size: 14px !important;
        top: 48% !important;
    }

    .services-news {
        border-top: 1px solid #d2d2d2;
        margin-top: 20px !important;
        padding-top: 20px !important;
    }
    .logo {
        margin: 10px 0;
    }
    .footer-logo {
        margin: 20px 0 10px;
    }
    .header-middle-wrapper .logo img {
        display: block;
        margin: 0 auto;
    }

    .header-middle-info .address,
    .header-middle-info .phone {
        text-align: center;
        width: 100%;
        margin: 10px 0;
    }

    .header-middle-info .address:before {
        position: absolute;
        top: 15px;
        left:10%;
    }

    .header-middle-info .phone:before {
        position: absolute;
        top: 80px;
        left:20%;
    }

    .header-middle-info ul li:first-of-type, .header-middle-info ul li:nth-of-type(2) {
        margin-right: 0;
    }

    .health-prev, .health-next {
        display: none !important;
    }

    .no-padding-right {padding-right: 15px}

    .health-slider .health-item {
        margin-bottom: 10px;
    }
    .place-wrapper {
        margin-top: 60px;
    }
    .footer-top-info ul li:first-of-type, .footer-top-info ul li:nth-of-type(2) {
        margin-right: 0;

    }
    .footer-top-info .phone,
    .footer-top-info ul .request {
        width: 100%;
        text-align: center;
    }
    .footer-top-info ul li {
        margin-top: 20px;
    }
    .footer-top-info .phone1:before {
        position: relative;
        top: 10px;
        left: 10%;
    }
    .footer-top-info .phone2:before {
        position: relative;
        top: 10px;
        left: 70px;
    }

    .footer-logo img {
        display: block;
        margin: 0 auto;
    }

    .gallery-slider-next,
    .gallery-slider-prev {
        display: none !important;
    }

    .other-contacts-info-item img,
    .government-wrapper img{
        margin-top: 20px;
    }

    .aval-services {
        margin-top: -20px;
        float: left !important;
    }

    .services-view-switcher {
        float: left !important;
        margin-top: 10px;
    }

    .show-more-services {text-align: center !important;}

    .other .main-section {
        border-top: 1px solid #d2d2d2;
    }

    .fact-item-border {
        border-right: none;
    }

    .news-small-top, .news-big {
        padding-bottom: 0;
        border-bottom: none;
        margin-bottom: 0;
    }

    .news-small .news-title {
        margin: 20px 0 30px;
    }

    .about-section .news-item {
        padding: 30px 0;
        border-bottom: 1px solid #d2d2d2;
    }

    .popular-services ul li {
        width: 100%;
    }

    .about-section {
        padding: 40px 0 40px;
    }

    .gallery-slider-nav-next {
        top: 55px;
    }
    .gallery-slider-nav-prev {
        top: 55px;
    }

    .contacts-info .working-hours p span {
        font-size: 16px;
    }
    .about-partners .partners-wrapper img {
        max-width: 100%;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

    .header-middle-wrapper .logo img {
        display: block;
        margin-left: 5px;
    }

    .contacts-panel {

        padding: 70px 30px;
    }

    .header-middle-info .address:before {
        left:0;
    }

    .header-middle-info .phone:before {
        left:10%;
    }

    .health-slider .health-item {
        margin-bottom: 0;
    }
    .popular-services ul li a {
        font-size: 16px;
        color: #292929;
        padding-left: 20px;
    }
    .footer-top-info .phone1:before {
        left:0;
    }
    .footer-top-info .phone2:before {
        left:10%;
    }

    .service-prices-panel .prices-list {
        padding: 30px 10px 20px;
    }
    .service-prices-panel .prices-list li {
        font-size: 12px;
    }

    .service-details-section .service-title {
        font-size: 22px;
    }

    .about-partners .partners-wrapper img {
        max-width: 50%;
    }
}

.mgt-40 {margin-top: 40px}


@media (max-width: 749px) {
    .services-wrapper img {
        width: 100% !important;
        margin: 20px 0 !important;
        padding: 0 !important;
    }
}

.services-wrapper .service-intro-text::after,
.services-wrapper .sub-text::after {
    content: "";
    clear: both;
    display: table;
}

.services-wrapper img {
    width: 50%;
    padding: 0 10px;
}
