@import url("css.css");

* {font-family: 'Open Sans', sans-serif; margin:0; padding:0;}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 400px;
    color: #474747;
}

.js div#preloader { position: fixed; left: 0; top: 0; z-index: 999999; width: 100%; height: 100%; overflow: visible; background: #ffffff url("") no-repeat center center; }

#loading-indicator {
  position: absolute;
    top: 33%;
    left: 45%;
}

.aligned-row {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    -webkit-flex-wrap:wrap;
        flex-wrap:wrap;
}

.aligned-row::before {
        display: block;
    }

/* forms */

.form-control {
    border-radius: 0;
}

.form-error {
    margin-bottom: 10px;
    color: #00acc4;
}

.modal {
  text-align: center;
  padding: 0!important;
}
.modal-content {border-radius: 0}
.modal-body {overflow: hidden}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.logo {margin: 30px 0 23px}
.menu {width:100%;}
.cloned {
    -webkit-box-shadow: 0 3px 10px rgba(119, 119, 119, 0.2);
    -moz-box-shadow: 0 3px 10px rgba(119, 119, 119, 0.2);
    box-shadow: 0 3px 10px rgba(119, 119, 119, 0.2);
}

#navbar {padding-left: 0}
.navbar-default .navbar-nav > li .form-group {
    margin-bottom: 0;

}
.navbar-default .navbar-nav > li input,
.navbar-default .navbar-nav > li input:focus {
    height: 60px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    box-shadow: none !important;
    color: #00acc4;
}
.navbar-default .navbar-nav > li > a{
    color: #292929;
    font-size: 16px;
    padding: 20px 23px;
}
.main-nav li:first-of-type a {

    padding-left: 0;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #00acc4;
    background-color: #ffffff;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: #00acc4;
    background-color: transparent;
}
.navbar-default {
    background-color: #ffffff;
    border-top: 1px solid #d2d2d2;
    border-right: none;
    border-bottom: none;
    border-left: none;
    border-radius: 0;
    margin-bottom: 0;

}
.other .navbar-default {
    border-bottom: 1px solid #d2d2d2;
}
.breadcrumbs {margin: 10px 0 0}
.breadcrumbs li {
    display: inline-block;
    color: #292929;
}
.breadcrumbs li a {
    color: #292929;
}


.top-nav-wrapper {border-bottom: 1px solid #d2d2d2}
.top-nav {margin-bottom: 0;min-height: 40px;}
.top-nav ul li a {color: #7c7c7c;padding: 10px 20px;}
.top-nav ul li a:first-of-type {padding-left: 0}
.top-nav > .nav > li > a:focus, .top-nav > .nav > li > a:hover {
    text-decoration: none;
    background-color: #ffffff;
    color: #292929;
}
.header-middle-info {
    display: block;float: right;
}
.header-middle-info ul,
.footer-top-info ul {
    list-style: none;
    margin: 0;
}
.header-middle-info ul li {
    display: block;
    float: left;
    margin-top: 30px;
    color: #292929;
}
.header-middle-info ul li:first-of-type,
.header-middle-info ul li:nth-of-type(2) {
    margin-right: 80px;
}

.header-middle-info .address:before {
    content: "";
    text-align: center;
    float: left;
    position: relative;
    top: 7px;
    right: 15px;
    background: url("");
    display: block;
    height: 28px;
    width: 22px;
}
.header-middle-info .address a {
    color: #292929;
}
.header-middle-info .address .address-sub {
    color: #00acc4;
}
.header-middle-info .phone:before {
    content: "";
    text-align: center;
    float: left;
    position: relative;
    top: 7px;
    right: 15px;
    background: url("phone.png");
    display: block;
    height: 28px;
    width: 28px;
}
.header-middle-info .phone {width: 160px}
.header-middle-info .phone a {
    color: inherit;
}
.header-middle-info .phone .callback {
    text-decoration: underline;
}
.header-middle-info .request a {
    background-color: #fd4741;
    color: #ffffff;
    padding: 15px 30px;
    border-radius: 12px;
    margin-top: -5px;
    display: block;
}

span.search-switch {
		cursor:pointer;
    background-image:  url("88dd75976e2197a9f3ab3aa78c670eb39f17e3a6.svg");
    background-size: 20px;
    background-repeat:  no-repeat;
    background-position:  50% 50%;
    display:  inline-block;
    vertical-align:  top;
    width: 20px;
    height: 20px;
    margin:  20px 0;
    position: absolute;
    right: 15px;
}

span.search-switch:hover {
    background-image:  url("d34c3f789b14829ba61bf9fba08b6139be020cdc.svg");
}

span.search-switch.search-switched {
	background-image:  url("");
}

span.search-switch.search-switched:hover {
	background-image:  url("");
}


#navbar {
    position:  relative;
}

span.search-switch + ul.nav.navbar-nav {
    opacity:0;
    visibility:  hidden;
    transition: ease .5s opacity, visibility;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 2;
    margin:  1px 0 0 0;
    border: 1px solid #d2d2d2;
    border-top:  0;
}

span.search-switch.search-switched + ul.nav.navbar-nav  {
    opacity:1;
    visibility:  visible;
}

span.search-switch + ul.nav.navbar-nav li {
    width:  100%;
}

span.search-switch + ul.nav.navbar-nav li input, span.search-switch + ul.nav.navbar-nav li input:focus {
    height: 40px;
}


.menu-padding {padding-top:40px;}

/* slick styles override  */

.slider-item img {
    display: block;
    margin: 0 auto;
}
.slider-item .slider-text {
    display: block;
    position: absolute;
    top: 90px;
    width: 510px;
    margin-left: 0;
}
.slider-item .slider-text .slider-title {
    font-size: 48px;
    font-weight: 600;
    color: #292929;
}
.slider-item .slider-text .slider-subtitle {
    margin: 20px 0 30px;
    font-size: 16px;
    color: #292929;
}
.slider-item .slider-text .slider-button a {
    color: #ffffff;
    font-size: 14px;
    background-color: #00acc4;
    padding: 15px 30px;
    border-radius: 12px;
    display: block;
    float: left;
}
.main-slider .slick-dots {
        bottom: 50px;
    }
.main-slider .slick-dots li {
    margin: 0;
}
.slick-dots li button {padding: 5px 0}
.slick-dots li button::before {font-size: 12px;color: #ffffff;opacity: 1}
.slick-dots li.slick-active button::before {opacity: 1;color: #00acc4}
.slick-prev {
    left: 30px;
    z-index: 999;
}
.slick-next {
    right:30px;
    z-index: 999;
}

.slick-track {
    display: -webkit-box !important;display: -ms-flexbox !important;display: flex !important;
}

.slick-slide {
    height: auto !important;
}
img.slick-slide {
    height: 100% !important;
}

.about-photos .slick-slide {
    height: 100% !important;
}

.default-section {
    margin: 60px 0;
}
.about-section {
    padding: 40px 0 30px;
}

.about-section ul {
    padding-left: 20px;
}
.partners-section {
    padding: 40px 0 60px;
}
.about-photos {
    padding: 0 0 80px;
}
.about-partners {
    padding: 0 0 100px;
}
.about-partners:last-of-type {
    padding: 0 0 150px;
}
.about-photos:last-of-type {
    padding: 0 0 120px;
}
.about-photos .gallery-slider {
    margin-bottom: 20px;
}
.about-photos .gallery-slider-nav img {
    padding: 0 10px;
}

.gallery-slider-prev {
    position: absolute;
    top:40%;
    cursor: pointer;
    left: -15px;

}
.gallery-slider-next {
    position: absolute;
    top:40%;
    cursor: pointer;
    right: -15px;

}

.gallery-slider-nav-prev {
    position: relative;
    top:65px;
    cursor: pointer;
    left: -15px;

}
.gallery-slider-nav-next {
    position: relative;
    top:65px;
    cursor: pointer;
    right: -15px;
    float: right;

}

.services-title,
.news-title,
.doctors-title,
.about-title,
.place-title,
.health-title,
.partners-title {
    margin: 0 0 40px;
    color: #292929;
    font-weight: 600;
}
.about-section .about-title {
    font-size: 36px;
}
.about-photos .about-title,
.services-find-section .about-title{
    font-size: 30px;
}
.partners-title {margin-bottom: 100px}
.services-panel,
.doctors-panel,
.about-panel,
.place-panel {
    border:1px solid #d2d2d2;
}

.services-panel .all-services {
    border-bottom: 1px solid #d2d2d2;
    padding: 20px 0 20px 53px;
}
.services-panel .all-services a {
    text-transform: uppercase;
    color: #00acc4;
}
.services-panel .all-services a:before {
    content: "";
    text-align: center;
    float: left;
    position: relative;
    top: 5px;
    right: 10px;
    background: url("");
    display: block;
    height: 11px;
    width: 13px;
}
.popular-services{padding: 25px 40px;overflow: hidden}
.popular-services h3 {
    font-size: 18px;
    color: #6f6f6f;
    text-decoration: underline;
    margin: 0 0 60px;


}
.popular-services ul,
.latest-news ul {
    list-style: none;
    margin-bottom: 0;
}
.popular-services ul li {

    margin-bottom: 20px;
    float: left;
    display: inline;
    padding-left: 60px;
    padding-top:  10px;

}
.popular-services ul li .liImgBlock {
    position:  absolute;
    top: 0;
    left: 10px;
}

.popular-services ul li .liImgBlock img {
    max-width: 40px;
    max-height: 40px;
    width: auto;
}
.popular-services ul li a {
    font-size: 18px;
    color: #292929;
    display: block;
}
.popular-services ul li > a {
    padding-left:  0;
}
.popular-services .service-request a,
.doctor-item .request-doctor a,
.getProgram a {
    background-color: #00acc4;
    color: #ffffff;
    padding: 15px 30px;
    border-radius: 12px;
    margin-bottom: 10px;
}
.docsMainPage .doctor-item .request-doctor {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.docsMainPage .doctor-item {
    padding-bottom: 75px;
    position: relative;
}
.popular-services .service-request a,
.about-panel .about-button a {
    float: left;
    display: block;
}
.latest-news {padding-top: 10px}
.latest-news ul .news-item {
    float: left;
    margin-bottom: 30px;
    width: 100%;
}
.news-img-wrapper,
.news-details {
    display: inline-block;
}
.news-img-wrapper img {
    border-radius: 50%;
    margin: 0 auto;
}
.news-item .news-category,
.news-item .news-category a,
.news-item .read-more {
    color: #00acc4;
}
.news-item .news-date {
    color: #d2d2d2;
    margin-left: 20px;
}
.news-item .news-item-title,
.doctor-item .doctor-title {
    margin: 30px 0 20px;
    font-size: 18px;
    color: #292929;
    font-weight: 600;
}

.doctor-item .doctor-title {
    padding: 0 40px;
    min-height: 60px;
}

/* doctors */

.doctors-wrapper .endless_container {
    width: 100%;
}

.doctors-wrapper > .item-wrapper {
    float:none;
}

.doctors-panel {
    padding: 40px 40px 60px;
}
.doctor-item {
    text-align: center;
    height: 100%;
    position: relative;
    padding-bottom: 75px;
}
.doctor-item .read-more-doctor {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.doctor-item .doctor-img {
    width: auto;
    margin: 0 auto; /* it centers any block level element */
    border-radius: 50%;
}

.doc-prev {
    position: absolute;
    top:50%;
    cursor: pointer;
    left: 40px;
}
.doc-next {
    position: absolute;
    top:50%;
    cursor: pointer;
    right: 40px;
}

.service-doctors-panel .doc-prev {
    position: relative;
    top: -5px;
    left: -10px;
    cursor: pointer;
    color: #00acc4;
}

.service-doctors-panel .doc-next {
    position: relative;
    top: -5px;
    left: 0;
    cursor: pointer;
    color: #00acc4;
}

.all-doctors-link a {
    text-transform: uppercase;
    font-size: 16px;
    color: #00acc4;
}

/*.slider-next {
    position: relative;
    bottom:300px;
    cursor: pointer;
    right: 10px;
    z-index: 999;
    float: right;
}

.slider-prev {
    position: relative;
    bottom:300px;
    cursor: pointer;
    left: 10px;
    z-index: 999;
}*/

.doctor-item .doctor-position {margin-bottom: 10px;padding: 0 5px}
.doctor-item .doctor-position a {color: #6f6f6f}

/* about */

.about-wrapper-inner {margin-bottom: 40px}
.about-wrapper-inner20 {margin-bottom: 20px}

.about-wrapper-inner p {margin-bottom: 20px}
.about-wrapper-inner .video p {margin-bottom: 0}

.about-panel .about-button a {
    background-color: #00acc4;
    color: #ffffff;
    padding: 15px 50px;
    border-radius: 12px;

}

.about-panel .about-info {
    padding: 30px 40px 40px;
    overflow: hidden;
}
.about-slider {
    margin-bottom: 0 !important;
    padding: 0 40px;
}
.about-slider .slick-dots {
    bottom: 20px;
    left: 0;
    width: 100%;
}

.about-panel .about-info .about-text {
    margin-bottom: 40px;
}

/* health */

.health {margin-bottom: 520px} /* because of sticky footer (it's height 400px)*/
.health h1 {
    margin: 0 0 20px;
}
.health p {
    line-height: 2.4rem;
}

.item-wrapper {
    margin-bottom: 30px;
}
.health-item {
    border: 1px solid #d2d2d2;
    height: 100%;
}
.health-readmore {
    position: absolute;
    bottom: 30px;
}

.about .endless_container {
    width: 100%;
}

.health-prev {
    position: absolute;
    top:50%;
    cursor: pointer;
    left: -15px;
}
.health-next {
    position: absolute;
    top:50%;
    cursor: pointer;
    right: -15px;
}

.health-slider .health-item {
    margin: 0 15px;
}

.health-item .health-item-info {
    padding: 25px 20px 30px;
}
.health-item .health-item-title {
    font-size: 16px;
    font-weight: 600;
    color: #292929;
    margin: 0 0 15px;
}
.health-item .health-item-text p {
    margin-bottom: 25px;
}
.health-item .health-item-info a {
    color: #00acc4;
}

/* license page */

.license-item {
    padding: 40px;
    border: 1px solid #d2d2d2;
    height: 100%;
}
.license-item:hover, .license-item:active {
    border: 1px solid #00acc4;
}
.license-item .license-text {margin-bottom: 20px}
.license-item .license-type-size {margin-bottom: 0}
.license-item .license-text a,
.license-item .license-type-size {padding-left: 50px;display: block;}
.license-item .license-text a {color: #292929}
.license-item .license-text:before {
    content: "";
    text-align: center;
    float: left;
    position: relative;
    top: 5px;
    right: 0;
    background: url("");
    display: block;
    height: 34px;
    width: 28px;
}

/* partners page */

.insurance img,
.companies img,
.diagnose img{
    display:block;
    margin:auto;
}

/* contacts page */
.contacts-info,
.contact-reg {font-size: 18px}
.contact-reg {margin-bottom: 30px}
.contacts-info .address {margin-bottom: 45px}

.other-contacts-info-item
{margin-bottom: 60px}
.other-contacts-info-item:last-of-type
{margin-bottom: 0 !important;}

.contacts-info .address:before {
    content: "";
    text-align: center;
    float: left;
    position: relative;
    top: 7px;
    right: 0;
    background: url("");
    display: block;
    height: 42px;
    width: 33px;
}
.contacts-info .address p {
    padding-left: 60px;
}
.contacts-info .phone {margin-bottom: 75px}
.about-photos .contacts-info .phone {margin-bottom: 25px}
.contacts-info .phone a {
    padding-left: 20px;
}
.contacts-info .address .address-sub {
    color: #00acc4;
}
.contacts-info .phone:before {
    content: "";
    text-align: center;
    float: left;
    position: relative;
    top: 7px;
    right: 0;
    background: url("");
    display: block;
    height: 41px;
    width: 41px;
}
.contacts-info .email a {
    padding-left: 20px;
    color: #6f6f6f;
}
.contacts-info .email:before {
    content: "";
    text-align: center;
    float: left;
    position: relative;
    top: 0;
    right: 0;
    background: url("");
    display: block;
    height: 29px;
    width: 41px;
}
.contacts-info ul {list-style: none}

.contacts-info .working-hours {color: #00acc4}
.contacts-info .working-hours p span {text-decoration: underline}
.contacts-info .working-hours p {margin-bottom: 0}

.contacts-panel {
    border:1px solid #d2d2d2;
    padding: 70px 60px;
}

.contacts-info .phone .number {
    color: #6f6f6f;
}

.about-photos .person-position {
    font-size: 24px;
    color: #292929;
    margin: 0 0 20px;
    font-weight: 600;
}

.about-photos .person-title {
    margin: 0 0 20px;
}

.government-wrapper {margin-bottom: 70px}
.government-wrapper:last-of-type {margin-bottom: 0}


/* doctors index */

.doctors-section {
    padding: 60px 0 100px;
}
.doctors-section .show-more-doctors {text-align: center;padding-top: 10px}
.doctors-section .show-more-doctors a {
    background-color: #00acc4;
    color: #ffffff;
    padding: 15px 50px;
    border-radius: 12px;
    margin-bottom: 10px;
}

.doctors-find-section {
    padding: 40px 0 0;
    border-bottom:1px solid #d2d2d2;
}
.doctor-details-section,
.doctor-specialities-section {
    padding: 40px 0 60px;
    border-bottom:1px solid #d2d2d2;
}
.doctor-details-section .doctor-title,
.doctor-specialities-section .speciality-title {
    margin: 0 0 20px;
    color: #292929;
    font-weight: 600;
    font-size: 30px;
}
.doctor-specialities-section .speciality-title {
    font-size: 24px;
    margin-bottom: 45px;
}
.doctor-specialities-section .speciality-text:before {
    content: "";
    text-align: center;
    float: left;
    position: relative;
    top: 5px;
    right: 0;
    background: url("");
    display: block;
    height: 13px;
    width: 13px;
}
.doctor-specialities-section .speciality-text p {
    padding-left: 30px;

}
.doctor-facts-section {
    padding: 45px 0 60px;
    border-bottom:1px solid #d2d2d2;
    background-color: #fcfcfc;
}
.doctor-facts-section .fact-title {
    margin: 0 0 40px;
    color: #292929;
    font-weight: 600;
    font-size: 24px;
}
.doctor-facts-section .fact-item {
    text-align: center;
    padding: 20px 0;
    min-height: 165px;
}
.fact-item-border {
    border-right: 1px solid #d2d2d2;
}
.doctor-facts-section .fact-item .fact-item-text p {
    padding: 0 80px;
}
.doctor-facts-section .numbers .fact-item-title {
    font-size: 48px;
    color: #00acc4;
}
.doctor-facts-section .awards .fact-item-title {
    font-size: 30px;
    color: #00acc4;
}
.doctor-details-section .doctor-position {
    margin: 0 0 20px;
    color: #6f6f6f;
    font-weight: 400;
    font-size: 18px;
}
.doctor-details-section .request-doctor a {
    background-color: transparent;
    color: #00acc4;
    padding: 15px 50px;
    border-radius: 12px;
    margin-bottom: 10px;
    border: 1px solid #d2d2d2;
}
.doctor-details-section .doctor-image-wrapper {
    border:1px solid #d2d2d2;
}
.doctor-details-section .education-title {
    color: #292929;
    font-weight: 600;
    margin-bottom: 20px;
}
.doctor-details-section .education-text p {

    margin-bottom: 10px;
}
.doctor-details-section .education-text ul {

    margin-left: 40px;
}

.doctors-section .doctors-wrapper .doctor-item {
    border:1px solid #d2d2d2;
    padding: 40px 30px 30px;
    margin-bottom: 30px;
    padding-bottom: 75px;
}

.doctor-item .read-more-doctor a {
    background-color: transparent;
    color: #00acc4;
    padding: 15px 50px;
    border-radius: 12px;
    margin-bottom: 0;
    border: 1px solid #d2d2d2;
}

.other-doctors {padding: 45px 0 100px}
.other-doctors .other-doctors-title {
    margin: 0 0 30px;
    color: #292929;
    font-weight: 600;
    font-size: 24px;
}

/* services */

.services-find-form .select2-container--default .select2-selection--single,
.doctor-find-form .select2-container--default .select2-selection--multiple {
    min-height: 36px;
    border-radius: 0;
}

.services-find-form .select2-container--default .select2-selection--single .select2-selection__rendered,
.doctor-find-form .select2-container--default .select2-selection--multiple .select2-selection__rendered {
    color: #444;
    line-height: 32px;
}

.services-find-form .select2-container--default .select2-selection--single .select2-selection__arrow,
.doctor-find-form .select2-container--default .select2-selection--multiple .select2-selection__arrow {
    height: 36px;
}

.doctor-find-form .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #00acc4;
    border: 1px solid #aaa;
    border-radius: 0;
    color: #ffffff;
}

.doctor-find-form .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #00c6de !important;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
    background-color: #00acc4 !important;
    color: #ffffff !important;
}

.all-services-block {
    border:1px solid #d2d2d2;
    height: 100%;
}

.all-services-block .block-header {
    border-bottom:1px solid #d2d2d2;
    padding: 10px 30px;
    font-size: 24px;
    line-height: 30px;
    color: #292929;
    font-weight: 600;
}

.all-services-block .block-list {

    padding: 30px 30px 10px;
    font-size: 16px;
}

.all-services-block .block-list ul {
    list-style: none;
}

.all-services-block .block-list ul li {
    margin-bottom: 20px;
}
.all-services-block .block-list ul li a {
    color: inherit;
}

.services-find-section {
    padding: 40px 0 0;
}

.services-section {
    padding: 50px 0 100px;
}

.services-view-switcher {
    font-size: 18px;
    line-height: 34px;
}

.services-view-switcher a {
    color: #00acc4;
}
.services-view-switcher span {
    color: #6f6f6f;
}
.aval-services {
    color: #6f6f6f;
    margin-top: -20px;
}
.services-find-form .form-group {
    margin-bottom: 0;
}
.services-find-form .form-control {
    font-size: 16px;
}

.services-section .services-wrapper .service-item {
    border:1px solid #d2d2d2;
    padding: 50px 20px;
    height: 100%;
}

.service-item .read-more-service a {
    background-color: transparent;
    color: #00acc4;
    padding: 15px 50px;
    border-radius: 12px;
    margin-bottom: 10px;
    border: 1px solid #d2d2d2;
}

.services-section .show-more-services {text-align: right;padding-top: 10px}
.services-section .show-more-services a {
    background-color: transparent;
    color: #00acc4;
    padding: 15px 20px;
    border-radius: 12px;
    margin-bottom: 10px;
    border: 1px solid #00acc4;
}

.service-item .service-title {
    margin: 30px 0 10px;
    font-size: 18px;
    color: #292929;
    font-weight: 600;
}

.service-item {
    text-align: center;
}
.service-item .service-img {
    width: auto;
    margin: 0 auto; /* it centers any block level element */
}

.service-item .service-sub {margin-bottom: 0}
.service-item .service-sub a {color: #6f6f6f}

.service-details-section {
    padding: 40px 0 50px;
}
.service-details-section .service-title {
    margin: 0 0 30px;
    color: #292929;
    font-weight: 600;
    font-size: 30px;
}
.service-details-section ul,
.service-details-section ol{
    margin-left: 30px;
}
.service-prices-panel,
.service-doctors-panel {
    border: 1px solid #d2d2d2;
    margin-bottom: 30px;
}
.service-prices-panel .price-title,
.service-doctors-panel .doctors-title {
    border-bottom: 1px solid #d2d2d2;
    padding: 15px 30px 15px;
    font-size: 18px;
    color: #292929;
    font-weight: 600;
}
.service-doctors-panel .doctors-title {margin: 0}
.service-prices-panel .prices-list,
.service-doctors-panel .doctors-list {
    padding: 30px 30px 20px;
}
.service-prices-panel .prices-list ul {
    list-style: none;
    font-size: 16px;
    color: #292929;
}
.service-prices-panel .prices-list ul li {
    margin-bottom: 20px;
}
.service-prices-panel .prices-list ul li .price {
    float: right;
}
.service-details-section .sub-title {
    font-size: 18px;
    font-weight: 600;
    margin: 50px 0 30px;
}
.service-details-section .sub-text p {
    margin-bottom: 20px;
}


/* footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 400px;
  background-color: #f8f8f8;
}

.footer-logo {margin: 30px 0 23px}

.footer-top-info {
    display: block;float: right;
}

.footer-middle-wrapper {

    border-bottom: 1px solid #d2d2d2;
    padding: 10px 0 9px;
}

.footer-top-info ul li {
    display: block;
    float: left;
    margin-top: 30px;
    color: #292929;
}
.footer-top-info ul li:first-of-type,
.footer-top-info ul li:nth-of-type(2) {
    margin-right: 80px;
}

.footer-top-info .phone1,
.footer-top-info .phone1 a {
    color: #00acc4;
}
.footer-top-info .phone:before {
    content: "";
    text-align: center;
    float: left;
    position: relative;
    top: 7px;
    right: 15px;
    background: url("phone.png");
    display: block;
    height: 28px;
    width: 28px;
}
.footer-top-info .phone2 {width: 160px}
.footer-top-info .phone2 a {
    color: inherit;
}
.footer-top-info .phone2 .callback {
    text-decoration: underline;
}
.footer-top-info .request a {
    background-color: #fd4741;
    color: #ffffff;
    padding: 15px 30px;
    border-radius: 12px;
    margin-top: -5px;
    display: block;
}

.footer-menu-wrapper {
    border-bottom: 1px solid #d2d2d2;
}
.footer-nav {
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}
.footer-nav li:first-of-type a {
    padding-left: 0 !important;
}

.footer-nav .navbar-nav > li > a:focus,
.footer-nav .navbar-nav > li > a:hover {
    color: #00acc4;
    background-color: transparent;
}

.footer-nav .navbar-nav > li > a {
    color: #292929;
    font-size: 16px;
    padding: 40px 20px 39px;
}

.footer-copy-and-social-wrapper .copy {
    font-size: 12px;
    padding: 50px 0 30px;
    margin-bottom: 0;
}
.footer-copy-and-social-wrapper .social a {
    color: #697684;
    text-decoration: none;
}


/* responses */

.response-item {
    border-bottom: 1px solid #d2d2d2;
    padding: 20px 0;
}
.response-item  .response-img {
    border-radius: 50%;
}
.response-item .response-title {
    font-size: 18px;
    font-weight: 600;
    color: #292929;
    margin-right: 20px;
}

.response-item .response-title {
    font-size: 18px;
    font-weight: 600;
    color: #292929;
    margin-right: 20px;
}

.response-item .response-date {
    color: #a2a2a2;
    margin-right: 20px;
}

.response-item .response-text {
    color: #6f6f6f;
    margin-top: 5px;

}
.response-item .response-person {
    font-size: 16px;
    font-weight: 600;
    color: #292929;
    margin-top: 5px;
}

.response-item .faq-response {
    margin-top: 20px;
}

.response-item .response-rating .fa-star {
    color: #00acc4;
}
.add-response {
    border-bottom: 1px solid #d2d2d2;
    padding-bottom: 10px;
}
.count-responses {
    font-size: 18px;
    font-weight: 600;
    color: #292929;
    margin-bottom: 40px;
}
.add-response a,
.send-response {
    background-color: transparent;
    color: #00acc4;
    padding: 15px 50px;
    border-radius: 12px;
    margin-bottom: 10px;
    border: 1px solid #d2d2d2;
}

.modal-btn {
    background-color: transparent;
    color: #00acc4;
    padding: 15px 50px;
    border-radius: 12px;
    margin: 10px 0 0;
    border: 1px solid #d2d2d2;
}


/* news pages */

.latest-news-slider-prev {
    position: absolute;
    top:20px;
    cursor: pointer;
    right: 50px;
    color: #00acc4;
}
.latest-news-slider-next {
    position: absolute;
    top:20px;
    cursor: pointer;
    right: 20px;
    color: #00acc4;
}

.news-big .news-created,
.news-created{
    position: absolute;
    bottom: 20px;
    left: 15px;
    padding: 10px;
    background-color: #00acc4;
    color: #ffffff;
}

.news-big {
    padding-bottom: 60px;
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: 40px;
}

.news-big .news-title {
    font-size: 24px !important;
    font-weight: 600;
    color: #292929;
    margin: 25px 0 20px;
}

.news-small-top {
    padding-bottom: 40px;
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: 35px;
}

.news-item-new .news-title {
    font-size: 18px;
    font-weight: 600;
    color: #292929;
    margin-bottom: 30px;
}

.news-item-new .news-category {
    font-size: 16px;
}

.news-item-new .news-category {
    margin-bottom: 30px;
    display: block;
    color: #00acc4;
}

.news-item-new .read-more {
    color: #00acc4;
}

.news-item-new .news-text {
    color: #292929;
    margin-bottom: 25px;
}

.news-created-no-image {
    font-size: 12px;
    color: #6f6f6f;
}

.news-item-new .news-title {
    margin: 20px 0 30px;
    font-size: 18px;
    font-weight: 600;
    color: #292929;
}

.no-img .news-title {
    margin: 0 0 30px;
    font-size: 18px;
    font-weight: 600;
    color: #292929;
}

.no-img .news-item-new .upper-border {
    padding-bottom: 22px;
}

.upper .news-item-new .upper-border {
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: 23px;
}

.border-sep {
    border-bottom: 1px solid #d2d2d2;
    padding: 30px 0 0;
    margin-bottom: 30px;
}

.border-sep-big {
    border-bottom: 1px solid #d2d2d2;
    padding: 50px 0 0;
    margin-bottom: 50px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}


.no-padding-left {padding-left: 0}
.no-padding-right {padding-right: 0}


.endless_more {
    color: #ffffff;
    margin: 30px 0 10px;
    display: block;
}

.more-span {
    background-color: #00acc4;
    padding: 15px 30px;
    border-radius: 12px;
}

.endless_more:hover {
    color: #ffffff;
    text-decoration: none;
}

.endless_more .more-span:before {
    content: "\f021";
	font-family: FontAwesome;
    font-size: 2em;
    width: 1.28571429em;
    text-align: center;
    left: -10px;
    position: relative;
    top: 5px;
}
.star .ratingBlock input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
}
.star .ratingBlock input[type="radio"] + .caption {
  display: inline-block;
  font-size: 0;
}


.star .ratingBlock .caption:before {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f005";
  border: 0;
  box-shadow: none;
  border-radius: 0;
  transition: all 0.3s ease;
  display: inline-block;
  font-size:30px;
  color: #00acc4;
}
.star .ratingBlock input:checked + .caption ~ .caption:before {
  content: "\f006";
  color: #585053;
}

.getProgram {
    position: absolute;
    right: 0;
    top: 20px;
    float: right;
}

.readMorePrices a {
    color: #00acc4;
}
#servicePricesMoreModal .service-prices-panel {
    border: none;
}

.service-prices-panel .prices-list ul li {
    padding-right: 125px;
    position:  relative;
}

.service-prices-panel .prices-list ul li .price {
    float: none;
    position:  absolute;
    top: 0;
    right:  0;
}

.service-prices-panel .prices-list ul {
    margin-left:0;
}

.accessbilityLinkBlock {
    text-align: center;
    clear: both;
    padding-top: 5px;
    display: none;
}
.accessbilityLink {
    color: #00acc4;
}
.accessbilityLink:hover {
    color: #00acc4;
}

.accessbilityLink .fa-eye {
    margin-right: 4px;
}
@media (max-width:767px) {
  .accessbilityLinkBlock {
        display:block;
  }
}
@media (max-width:767px) and (min-width:700px) {
    .accessbilityLinkBlock {
        position:absolute;
        top:50%;
        transform:translateY(-50%);
        right:0;
    }
}

@media (max-width:700px) and (min-width:535px) {
    .accessbilityLinkBlock {
        text-align:left;
    }
}

@media (min-width:1000px) {
  .top-nav-wrapper .navbar-nav {
    width:100%;
  }
  .navbar-nav> li.accessbilityLinkItem {
    float: right;
  }
  .navbar-nav> li.accessbilityLinkItem a {
    padding-right:0;
  }
  .navbar-nav> li.langSelect {
    float: right;
      margin-left: 10px;
      margin-top: 10px;
  }
  .navbar-nav> li.langSelect a {
    padding:10px 0 !important;
      display: inline !important;
  }
}

@media (min-width:768px) {

  .navbar-nav> li.langSelect {
    float: right;
      margin-left: 10px;
      margin-top: 10px;
  }
  .navbar-nav> li.langSelect a {
    padding:10px 0 !important;
      display: inline !important;
  }
}

.main-image-section img.img-responsive {
	margin: 0 auto;
}

/* en page styles */

.landingContent .seoText .about-slider.sliderFloat.slick-initialized {
    max-width: 600px;
    float: right;
}

@media (max-width:992px) {
    .landingContent .seoText .about-slider.sliderFloat.slick-initialized {
        max-width: none;
        float: none;
        margin-bottom: 20px !important;
        padding: 0;
        width: 100%;
    }
}


.landingContent section#service .row > .title {
    padding:15px;
}

.landingContent section#service {
    padding: 10px 0 10px;
}

.landingContent section#map {
    padding: 40px 0 40px;
}

.landingContent .services .block-list ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

@media (max-width:600px) {

    .landingContent .services .block-list ul {
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
    }

}

.landingContent .contactsText h2 {
    margin: 0 0 20px;
    color: #292929;
    font-weight: 600;
}

.diplomaGallery {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    flex-wrap: wrap;
    text-align: center;
}

.mfp-gallery .mfp-content {
    background-color: transparent;
}
.diplomaImage {
    margin-bottom: 20px;
}

.socialAppListBlock {
    display: none
}

@media (max-width: 480px) {

    .footer-copy-and-social-wrapper .copy {
        padding-bottom: 45px;
    }

    .socialAppListBlock {
        display: block;
    }

    footer .socialAppListBlock {
        margin-top: -35px;
        margin-bottom: 10px;
    }

    footer.footer {
    }

    /*header .socialAppListBlock {
        position: absolute;
        top: 75px;
        width: 115px;
        right: -40px;
    }

    header .socialAppListBlock .item {
        margin: 0;
    }*/
}



.headerMiddle {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    padding: 30px 0;
}
.headerMiddle .logoBlock {
    flex: 0 1 370px;
}
.headerMiddle .logoBlock .logo {
    max-width: 100%;
    margin: 0;
}
.headerMiddle .socialAppListBlock {
    width: 100%;
    text-align: center;
}
.headerMiddle .headerActionsBlock {
    flex: 0 1 700px;
}
.headerMiddle .headerActionsBlock .headerActionsWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerMiddle .headerActionsBlock .headerActionBlock.phone .headerActionWrapper::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background: url("phone-1.png");
    height: 28px;
    width: 28px;
}
.headerMiddle .headerActionsBlock .headerActionBlock.address .headerActionWrapper::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background: url("map-marker.png");
    height: 28px;
    width: 22px;
}
.headerMiddle .headerActionsBlock .headerActionBlock.phone .headerActionWrapper,
.headerMiddle .headerActionsBlock .headerActionBlock.address .headerActionWrapper {
    padding-left: 35px;
    position: relative;
}
.headerMiddle .headerActionsBlock .headerActionBlock.phone .headerActionWrapper .caption,
.headerMiddle .headerActionsBlock .headerActionBlock.address .headerActionWrapper .caption {
    font-size: 14px;
}
.headerMiddle .headerActionsBlock .headerActionBlock .headerActionWrapper + .headerActionWrapper {
    margin-top: 20px;
}
.headerMiddle .headerActionsBlock .accessbilityBlock {
    display: none;
    text-align: center;
}
@media (max-width: 768px) {
    .headerMiddle .headerActionsBlock .accessbilityBlock {
        display: block;
    }
    .headerMiddle {
        padding: 12px 0 15px;
    }
}
@media (max-width: 700px) {
    .headerMiddle .headerActionsBlock .accessbilityBlock {
        width: 100%;
        margin-top: 30px;
    }
}
.headerMiddle .headerActionsBlock .headerActionBlock .address {
    color: #292929;
}
.headerMiddle .headerActionsBlock .headerActionBlock .timeWork {
    color: #00acc4;
}
.headerMiddle .headerActionsBlock .headerActionBlock .phoneAction {
    color: #292929;
}
.headerMiddle .headerActionsBlock .headerActionBlock .callback {
    text-decoration: underline;
    color: #292929;
}
.headerMiddle .headerActionsBlock .headerActionBlock .callback:hover {
    text-decoration: none;
}
.headerMiddle .headerActionsBlock .headerActionBlock .request.appointment-modal-show {
    display: inline-block;
    vertical-align: top;
    background-color: #fd4741;
    color: #ffffff;
    padding: 15px 30px;
    border-radius: 12px;
    line-height: 20px;
    font-size: 14px;
    cursor: pointer;
}
@media (max-width: 768px) {
    .headerMiddle .headerActionsBlock .headerActionBlock .request.appointment-modal-show {
        display: none;
    }
}
.headerMiddle .headerActionsBlock .headerActionBlock .request.appointment-modal-show:hover {
    text-decoration: underline;
}
.headerMiddle .headerActionsBlock .socialAppListBlock {
    display: none;
}
.headerMiddle .headerActionsBlock .socialAppListBlock .socialAppList {
    margin-top: 20px;
}
@media (max-width: 992px) {
    .headerMiddle {
        flex-wrap: wrap;
    }
    .headerMiddle .headerActionsBlock {
        flex: 0 1 100%;
        margin-top: 40px;
    }
}
@media (max-width: 768px) {
    .headerMiddle .headerActionsBlock .headerActionBlock.reception {
        display: none;
    }
}
@media (max-width: 700px) {
    .headerMiddle {
        flex-wrap: wrap;
    }
    .headerMiddle .headerActionsBlock .headerActionsWrapper {
        flex-wrap: wrap;
        justify-content: center;
    }
    .headerMiddle .headerActionsBlock .headerActionBlock {
        padding: 0 20px;
    }
}
@media (max-width: 500px) {
    .headerMiddle .headerActionsBlock {
        margin-top: 30px;
    }
    .headerMiddle .headerActionsBlock .headerActionBlock.phone {
        margin: 20px 0 10px;
    }
    .headerMiddle .headerActionsBlock .accessbilityBlock {
        margin-top: 20px;
    }
    .headerMiddle .headerActionsBlock .socialAppListBlock {
        display: block;
    }
}

.socialAppList {
    display: block;
    margin: 0 0 0 -10px;
    padding: 0;
    font-size: 0;
}
.socialAppList .item {
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
}
.socialAppList .item.wha .itemWrapper {
    background-image: url("b0c5e1ee755d0634ce632f2b79a1dbfa84f88d56.svg");
}
.socialAppList .item.tel .itemWrapper {
    background-image: url("");
}
.socialAppList .item.vib .itemWrapper {
    background-image: url("3f23b0217cbb199710013978b3039666c2ebfea3.svg");
}
.socialAppList .item.phone .itemWrapper {
    background-image: url("");
    background-size: 18px 18px;
}
.socialAppList .itemWrapper {
    display: block;
    background-size: 25px 25px;
    background-color: #00bcd4;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    box-sizing: border-box;
}

.onlineConsult {
    margin-bottom: 5px;
}


footer .social-img {
    width: 16px;
    height: 16px;
    display: block;
    margin: 6px auto;
    z-index: 2;
    position: relative;
}

.services-panel .popular-services li {
    float: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 0;
    padding-top: 0;
    margin-top: 10px;
    margin-bottom: 20px;
}

.services-panel .popular-services  .liImgBlock {
    position: static;
}
.services-panel .popular-services  .liImgBlock img {
    max-width: 60px;
    max-height: 60px;
    width: auto;
    padding: 0 15px 0 0;
}
.services-panel .popular-services .row {
    margin: 0;
}
.services-panel .popular-services .service-request {
    margin-top: 20px;
}

.services-panel .popular-services h3 {
    margin-bottom: 30px;
}


@media (max-width: 1199px) {
    .services-panel .popular-services ul li a {
        font-size: 16px;
    }
}
@media (max-width: 749px) {
    .services-panel .popular-services  .liImgBlock img {
        width: auto !important;
        margin: 0 !important;
        padding: 0 15px 0 0 !important;
    }
}

@media only screen and (max-width: 1025px) {
    .services-panel  .popular-services ul li a {
        padding-left: 0;
    }
}


.messengers-box {
    position: fixed;
    bottom: 125px;
    right: 15px;
    z-index: 999;
    border: 0;
    border-radius: 13px;
    overflow: hidden;
    display: flex;
    flex-flow: column-reverse nowrap;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.18);
}
.messengers-box .icon-social {
    width: 28px;
    height: 28px;
}

.messengers-box .messenger-icon {
    width: 30px;
    height: 30px;
    margin-bottom: -3px;
}

.messengers-box__button {
    font-size: 0;
    text-align: center;
    width: 42px;
    height: 42px;
    padding: 10px;
    cursor: pointer;
    display: block;
    transition: all 0.15s ease;
    background-color: #00ACC6;
}
.messengers-box__button.is--clicked {
    background-color: #fff;
}
.messengers-box__button .isClose {
    display: block;
    margin: 0 auto;
}
.messengers-box__button .isOpen {
    display: none;
    margin: 0 auto;
}
.messengers-box__button.is--clicked .isClose {
    display: none;
}
.messengers-box__button.is--clicked .isOpen {
    display: block;
}

.messengers-box__item > .messengers-box__button {
    padding: 10px 7px;
    background: #fff;
}
.messengers-box > .messengers-box__button svg path {
    fill: #fff;
}

.messengers-box > .messengers-box__button:hover svg path {
    fill: #fff;
}

.messengers-box__button.is--clicked::before {
    content: attr(data-icon);
}

.messengers-box__list,
.messengers-box__item {
    margin: 0;
    padding: 0;
    list-style: none;
}

.messengers-box__list {
    padding-top: 2px;
}
.messengers-box__holder {
    display: none;
}


/*# sourceMappingURL=style.css.map */

